@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
    --gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --red: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

.container {
    width: 100%;
    height: 100svh;
    background-color: #fff;
    display: flex;

    & .left {
        width: 30%;
        height: 100svh;
        background: url(../images/bg-main-desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        & .card_top {
            width: 380px;
            height: 200px;
            border-radius: 8px;
            padding: 20px;
            background: url(../images/bg-card-front.png);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #fff;
            top: 15%;
            left: 30%;

            & .circle {
                width: 100%;
                height: 47px;
                display: flex;
                align-items: center;

                & .white {
                    width: 47px;
                    height: 47px;
                    background-color: #fff;
                    border-radius: 50%;
                }

                & .transp {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 2px solid #eee;
                    margin-left: 10px;
                }
            }

            & .card__number {
                letter-spacing: 2px;
                font-size: 1.6rem;
            }

            & .card__name {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
            }
        }

        & .card__bottom {
            width: 380px;
            height: 200px;
            border-radius: 8px;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: url(../images/bg-card-back.png);
            background-size: cover;
            top: calc(15% + 230px);
            left: 50%;

            & .card__cvc {
                width: 80%;
                /* border: 1px solid #eee; */
                color: #fff;
                text-align: end;
                position: absolute;
                top: 50%;
                transform: translateY(-45%);
                padding: 5px 10px;
            }
        }
    }

    & .right {
        width: 70%;
        /* border: 5px solid #000; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100svh;
        font-size: 0.9rem;

        & #card {
            width: 330px;
            display: flex;
            flex-direction: column;
            color: var(--Very-dark-violet);

            & #cardholder,
            #cardnumber {
                padding: 8px;
                border-radius: 8px;
                border: 1px solid #aaa;
                margin-top: 5px;
                margin-bottom: 20px;
            }

            & #false_cardnumber,
            #false_exp,
            #false_cvc {
                display: none;
            }

            & .number {
                display: flex;

                & .date {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    & .form__exp {
                        display: flex;
                        gap: 10px;
                        margin-bottom: 20px;

                        & #expmonth,
                        #expyear {
                            width: 40%;
                            padding: 8px;
                            border-radius: 8px;
                            border: 1px solid #aaa;
                            margin-top: 5px;
                        }
                    }
                }

                & #cvc {
                    margin-top: 5px;
                    padding: 8px;
                    border-radius: 8px;
                    border: 1px solid #aaa;
                    margin-bottom: 20px;
                }
            }

            & #submit {
                margin-top: 10px;
                padding: 10px;
                border-radius: 8px;
                background-color: var(--Very-dark-violet);
                border: 2px solid #000;
                color: #fff;
                cursor: pointer;
            }
        }

        & .complete {
            display: none;
            text-align: center;
            width: 30%;

            & .icon,
            h1,
            p {
                margin-bottom: 20px;
            }

            & a {
                width: 100%;
                display: block;
                background-color: var(--Very-dark-violet);
                padding: 10px 0;
                border-radius: 8px;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

/* active class */
#false_cardnumber.active,
#false_exp.active,
#false_cvc.active {
    display: block !important;
    margin-top: -15px !important;
    margin-bottom: 15px !important;
    color: var(--red) !important;
}

#cardnumber.active,
#expmonth.active,
#expyear.active,
#cvc.active {
    border: 1px solid red !important;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        & .left {
            width: 100%;
            height: 40svh;
            margin: 0;
            padding: 0;

            & .card_top {
                left: 5%;
                top: 60%;
                width: 300px;
                height: 170px;
                z-index: 10;

                & .circle {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    align-items: center;

                    & .white {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background-color: #fff;
                    }

                    & .transp {
                        width: 15px;
                        height: 15px;
                        border: 2px solid #eee;
                        border-radius: 50%;
                        margin-left: 10px;
                    }
                }

                & .card__number {
                    font-size: 1rem;
                }

                & .card__name {
                    font-size: 0.7rem;
                }
            }

            & .card__bottom {
                left: 15%;
                top: 40px;
                width: 300px;
                height: 170px;
            }
        }

        & .right {
            width: 100%;
            padding: 0;
            margin: 0;

            & .complete {
                width: 100%;
            }
        }
    }
}
